OPENROUTER_API_KEY=your_open_api_key
OPENROUTER_MODEL=openai/gpt-4o-mini
DATABASE_URL=sqlite:///./data/medical_ai.db
CLASSIFICATION_MODEL_PATH=./Tumor Models/best_model.h5
DETECTION_MODEL_PATH=./Tumor Models/best.pt
SEGMENTATION_MODEL_PATH=./Tumor Models/my_checkpoint.pth
WHISPER_ADAPTER_ID=ma4389/Whisper-Fine
WHISPER_BASE_MODEL=openai/whisper-large-v3
